@use "../variables";

.footer__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    align-items: center;
    background-color: get-color("menu-bg");
}