@use "../variables" as v;

.footer {
    display: flex;
    flex: 1;
}

.footer__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    align-items: center;
    background-color: v.get-color("azul-propuesta");
    color: v.get-color("blanco");
}