@use "../variables" as v;

.header {
  background: v.get-color("degradado");
  width: 100%;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 480px) {
      /* Adaptación a 480px */
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: v.get-color("amarillo-propuesta");
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }

    &-item {
      // opcional: estilos específicos para cada li
    }

    &-link {
      text-decoration: none;
      color: v.get-color("amarillo-propuesta");
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: v.lighter("amarillo-propuesta", 15%);
      }
    }
  }
}
