@use "../variables";

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0rem;
    align-items: center;
    background-color: get-color("menu-bg");
}

.header__title, .header__nav-link {
  text-decoration: none;
}

.header__title {
 font-size: 1.2rem;
}

.header__nav {
  display: flex;
  gap: 2rem;
}