@use "../variables" as v;

// Puntos de ruptura: 1920, 1280, 1024, 720, 480, 320

// Sección principal
.section--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 450px;
  margin: auto;
  gap: 1rem;
  background-image: url("../images/portada.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
  }

  @media (max-width: 480px) {
      /* Adaptación a 480px */
      padding: 0rem 2rem;
    }

  & > * {
    position: relative;
    z-index: 1;
  }

  .section__title {
    font-size: 2.5rem;
    color: v.get-color("azul-propuesta");
    font-weight: 300;

    @media (max-width: 480px) {
      /* Adaptación a 480px */
      font-size: 2rem;
    }
  }

  .section__description {
    color: v.get-color("azul-propuesta");
    font-weight: 300;
    font-size: 1.5rem;

    @media (max-width: 480px) {
      /* Adaptación a 480px */
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .section__button {
    font-size: 1.5rem;
    padding: 0.5rem 1.3rem;
    font-weight: 300;
    background-color: v.get-color("primario-boton");
    color: v.get-color("primario-boton-texto");
    text-decoration: none;
    border-radius: 7px;
    width: max-content;
    transition: all 0.3s ease;

    @media (max-width: 480px) {
      /* Adaptación a 480px */
      font-size: 1.2rem;
    }

    &:hover {
      background-color: v.lighter("primario-boton", 15%);
    }
  }
}

