@use "../variables" as v;

// Sección principal
.section--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin: auto;
  gap: 1rem;

  &__title {
    font-size: 2rem;
    color: #222;
  }

  &__button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: v.get-color("primario-boton");
    color: v.get-color("primario-boton-texto");
    text-decoration: none;
    border-radius: 7px;
    width: max-content;
    transition: all 0.3s ease;

    &:hover {
      background-color: v.lighter("primario-boton", 15%);
    }
  }
}

// Sección de descargas
.section--downloads {
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem 1.5rem;
    margin: auto;
    justify-content: space-between;
  }

  &__card {
    list-style-type: none;
    background-color: rgba(234, 234, 234, 0.321);
    border-radius: 7px;
    padding: 1.5rem 1rem;
    box-shadow: v.get-color("section-shadow") 0 1px 3px,
                v.get-color("section-shadow") 0 1px 2px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(206, 205, 205, 0.417);
    }

    .card {
      &__image {
        display: none;
        border-radius: 50%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &__title {
        font-weight: 500;
      }

      &__description {
        font-weight: 300;
      }

      &__link {
        background-color: v.get-color("primario-boton");
        color: v.get-color("primario-boton-texto");
        width: fit-content;
        padding: 0.5rem 0.7rem;
        border-radius: 7px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          background-color: v.lighter("primario-boton", 15%);
        }
      }
    }
  }
}
