@use "../variables" as v;

// Sección principal
.section--main {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;

  .section__title {
    font-size: 2rem;
    color: #222;
  }

  .section__button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: v.get-color("primario-boton");
    text-decoration: none;
    border-radius: 7px;
    width: max-content;
    transition: all 0.3s ease;
    color: v.get-color("primario-boton-texto");

    &:hover {
      background-color: v.get-color("primario-boton-texto");
      color: v.get-color("primario-boton");
    }
  }
}

// Sección de descargas
.section--downloads {

  .section__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem 1.5rem;
    margin: auto;
    justify-content: space-between;
  }

  .section__card {
    list-style-type: none;
    background-color: wheat;
    border-radius: 7px;
    padding: 1rem;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }

  .card__title {
    font-weight: 500;
  }

  .card__link {
    background-color: v.get-color("primario-boton");
    width: fit-content;
    padding: 0.5rem 0.7rem;
    border-radius:7px;
    text-decoration: none;
    color: v.get-color("primario-boton-texto");
  }

}
