/* Estilo generales */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* Ancho del main */

.main {
  margin: auto;
}

/* Ocultar */

.ocultar {
  display: none;
}