@use "sass:map";

$colors: (
  "azul-propuesta": #0A4BAF,
  "amarillo-propuesta": #FFD500,
  "blanco": #ffffff,
  "primario-boton": #FFD500,
  "primario-boton-texto": #000
);

@function get-color($name) {
  @return map-get($colors, $name);
}
